.elementor-2914 .elementor-element.elementor-element-9d7f8ae .tx-description{margin:20px 0px 0px 0px;}
        .elementor-2914 .elementor-element.elementor-element-9d7f8ae .tx-description
        {font-size:18px;}.elementor-2914 .elementor-element.elementor-element-9d7f8ae{text-align:center;}