
        .elementor-2819 .elementor-element.elementor-element-5d94626 .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-82d42dc .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-cccafe8 .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-83944f5 .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-f01a2cc .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-4227f17 .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-acf225c .tx-boxItem-title
        {font-size:40px;line-height:43px;}
        .elementor-2819 .elementor-element.elementor-element-7d6109a .tx-boxItem-title
        {font-size:40px;line-height:43px;}.elementor-2819 .elementor-element.elementor-element-b47440b{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2819 .elementor-element.elementor-element-b47440b:not(.elementor-motion-effects-element-type-background), .elementor-2819 .elementor-element.elementor-element-b47440b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0D0D0D;}